<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<nav class="bg-white shadow dark:bg-gray-800">
    <div class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize dark:text-gray-300">
        <a href="/" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6">home</a>
        <a href="/inventory" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6">Inventory</a>
        <a href="/item" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6">Item</a>
        <a href="/item-category" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6">Item Category</a>
        <a href="/storage-location" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6">Storage Location</a>
        <a href="/custodian" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6">Custodian</a>
        <a href="/usage-history" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6">Usage History</a>
    </div>
</nav>
<div class="container mx-auto p-8">
    <h1 class="text-3xl font-semibold mb-6">Usage Inventory App</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div class="bg-white p-6 rounded-md shadow-md" th:each="usage : ${usageHistories}">
            <h2 class="text-xl font-semibold mb-4" th:text="${usage.getInventory_id().getItem_id().name}"></h2>
            <p class="text-gray-600" th:text="${usage.getInventory_id().getItem_id().description}"></p>
            <div class="mt-4 flex justify-between items-center">
                <span class="text-gray-500" th:text="'Digunakan sebanyak ' + ${usage.usage_quantity}"></span>
                <button class="bg-blue-500 text-white px-4 py-2 rounded-md">Edit</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>